 .profile-pic{
	height:40px;
	width:40px;
	margin-top: 10px;
}

.dots_menu:after {
  content: '\2807';
  font-size: 2em;
  color: #2e2e2e;
}

.new_chat_icon{
	height: 40px;
	width: 40px;
	margin-top: 10px;
}